{% extends "OCTicketingBundle::layout.html.twig" %}
{% block title %}
   Page d'accueil - {{ parent()}}
{% endblock %}

{% block body %}
    <h3>Récapitulatif de votre commande</h3>

    {% for ticket in commande.tickets %}
        <strong> Ticket de {{ticket.owner}} </strong>
        <p> pour le {{ticket.bookdate|date('Y-m-d')}}</p>
    {% endfor %}
    <p> Les tickets seront envoyé à l'adresse {{commande.email}}. 
    Le prix de la commande sera de {{commande.price}} €. </p>


<script src="//js.stripe.com/v2/"></script>

<form id ="formulaire" action="{{ path('oc_ticketing_valid') }}" method="POST">
  <script
    src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
    data-locale="auto"
    data-currency="EUR"
    data-key="pk_test_feEqQTsoxOWDyQv1bQo688I3"
    data-amount="{{commande.price * 100 }}"
    data-name="Commande "
    data-description="{{commande.tickets|length }} Ticket(s) pour :  {{commande.price }} € "
   {# data-image="/128x128.png"> #}
   >
  </script>
  
<script>
// Event Listeners
$('#formulaire').on('submit', generateToken);
 
var generateToken = function(e) {
    var form = $(this);
 
    // No pressing the buy now button more than once
    form.find('button').prop('disabled', true);
 
    // Create the token, based on the form object
    Stripe.create(form, stripeResponseHandler);
 
    // Prevent the form from submitting
    e.preventDefault();
};
 
var stripeResponseHandler = function(status, response) {
    var form = $('#formulaire');
 
    // Any validation errors?
    if (response.error) {
        // Show the user what they did wrong
        form.find('.payment-errors').text(response.error.message);
 
        // Make the submit clickable again
        form.find('button').prop('disabled', false);
    } else {
        // Otherwise, we're good to go! Submit the form.
 
        // Insert the unique token into the form
        $('<input>', {
            'type': 'hidden',
            'name': 'stripeToken',
            'value': response.id
        }).appendTo(form);
 
        // Call the native submit method on the form
        // to keep the submission from being canceled
        form.get(0).submit();
    }
};

</script>

</form>
{% endblock %}