{% extends "OCTicketingBundle::layout.html.twig" %} {% form_theme form 'bootstrap_3_layout.html.twig' %} {% block title %}
{{ "Page d'accueil - "|trans }} {{ parent() }} {% endblock %} {% block body %}

<h3>{{ 'Formulaire de billeterie'|trans }}</h3>

{# On charge la bibliothèque jQuery. #}
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


{% for flashMessage in app.session.flashbag.get('error') %}
<div class="alert alert-danger ">
  {{ flashMessage }}
</div>
{% endfor %}


<div class="well">

  {{ form(form) }}

  <div class="alert alert-warning reduced_message" style="display:none">
    <strong> {{ ' Attention ! '|trans }}</strong>{{ 'Une piece justificative vous sera demandé pour justifier le tarif réduit.
    '|trans }}
  </div>
</div>

<script src=" {{ asset('js/script_index.js') }} ">
</script>




{% endblock %}