{% extends "OCTicketingBundle::layout.html.twig" %}
{% block title %}
   Transaction validée - {{ parent()}}
{% endblock %}

{% block body %}

<h1>{{ 'Transaction validée'|trans }}</h1>
<p>{{ 'Vous avez reçu vos billets par mail pour les personnes suivantes :'|trans }} </p>
 {% for ticket in commande.tickets %}
        <strong> {{ 'Ticket de '|trans }} {{ticket.owner}} </strong>
        <p> {{ 'Pour le :  '|trans }}  {{ticket.bookdate|date('Y-m-d')}}</p>
    {% endfor %}
<a href="{{ path('oc_ticketing_home') }}"> {{ 'retour à l\'accueil '|trans }}</a></li>

{% endblock %}